{% extends "base.html" %}
{% block content %}
<h1>Ateriakokonaisuudet</h1>

<p>
    <a href="#" class="btn btn-success">Lisää ateriakokonaisuus</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>nimi</th>
            <th>alkuruoka</th>
            <th>pääruoka</th>
            <th>jälkiruoka</th>
            <th>teema</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="/tsoha/fullcourses/1">Kissasienikatastrofi</a></td>
            <td>brasilialaiset rullasienet</td>
            <td><a href="/tsoha/recipes/1">kissanhäntähyytelö</a></td>
            <td>taikasienisörsseli</td>
            <td>juhannus, kesä</td>
            <th><a class="btn btn-default btn-sm" href="/tsoha/fullcourses/1/edit">Muokkaa</a></th>
        </tr>
    </tbody>
</table>
{% endblock %}
