{% extends "base.html" %}
{% block content %}
<h1>Muokkaa ateriakokonaisuutta Kissasienikatastrofi</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="Kissasienikatastrofi">
    </div>
    <div class="form-group">
        <label>Alkuruoka</label>
        <input type="text" class="form-control" value="brasilialaiset rullasienet">
    </div>
    <div class="form-group">
        <label>Pääruoka</label>
        <input type="text" class="form-control" value="kissanhäntähyytelö">
    </div>
    <div class="form-group">
        <label>Jälkiruoka</label>
        <input type="text" class="form-control" value="taikasienisörsseli">
    </div>
    <div class="form-group">
        <label>Teema</label>
        <input type="text" class="form-control" value="juhannus, kesä">
    </div>
    <div class="form-group">
        <label>Juomat</label>
        <input type="text" class="form-control" value="ranskalainen siniviini, maito">
    </div>
    <div class="form-group">
        <label>Ohjeet</label>
        <textarea class="form-control">    Ateriakokonaisuus sopii mainiosti juhannukseen tai muuhun kesäiseen juhlatilaisuuteen. Kattauksessa on suositeltavaa käyttää sinistä tai vihreää astiastoa,
    sillä se sopii ruokalajien väreihin. Pääruoan kanssa nautitaan lasillinen ranskalaista siniviiniä, mutta myös maito
    täydentää sen makuja ja on hyvä vaihtoehto lapsille. Kattauksen kruunaa kimppu nokkosia maljakossa.
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
