{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä Kissanhäntähyytelö</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="Kissanhäntähyytelö">
    </div>
    <div class="form-group">
        <label>Ateriatyyppi</label>
        <input type="text" class="form-control" value="pääruoka">
    </div>
    <div class="form-group">
        <label>Pääraaka-aine</label>
        <input type="text" class="form-control" value="kissa">
    </div>
    <div class="form-group">
        <label>Vaikeustaso</label>
        <input type="text" class="form-control" value="helppo">
    </div>
    <div class="form-group">
        <label>Valmistusaika</label>
        <input type="text" class="form-control" value="45min">
    </div>
    <div class="form-group">
        <label>Ainekset</label>
        <textarea class="form-control">  300 g kissan häntää, 4 kananmunan valkuaista, 3 valkosipulinkynttä, 1 dl oliiviöljyä, 100 g maustamatonta tuorejuustoa, 1 tl suolaa, 1 dl sokeria
        </textarea>
    </div>
    <div class="form-group">
        <label>Resepti</label>
        <textarea class="form-control">    Lisää kuutioitu häntä kiehuvaan veteen ja keitä n. 10 minuuttia. Lisää valkuaiset, sokeri ja oliiviöljy erilliseen kulhoon ja vatkaa vaahdoksi.
    Anna seoksen seistä n. 5 minuuttia, ja lisää lopuksi tuorejuusto 25 gramman erissä samalla sekoittaen.
    Lisää joukkoon häntäkuutiot, hienonnettu valkosipuli ja sokeri. Sekoita, ja anna paistua uunissa 225 asteessa n. 10 minuuttia.
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
