{% extends "base.html" %}
{% block content %}
<h1>Uusi ruokalaji</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/recipes">
    <div class="form-group">
        <label>Ruokalajin nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label>Ateriatyyppi</label>
        <select value="{{attributes.ateriatyyppi}}" class="form-control" name="ateriatyyppi">
            <option value="alkuruoka">alkuruoka</option>
            <option value="pääruoka">pääruoka</option>
            <option value="jälkiruoka">jälkiruoka</option>
            <option value="aamupala">aamupala</option>
            <option value="välipala">välipala</option>
            <option value="iltapala">iltapala</option>
            <option value="lisuke">lisuke</option>
            <option value="leivonnainen">leivonnainen</option>
            <option value="keitto">keitto</option>
            <option value="salaatti">salaatti</option>
            <option value="juoma">juoma</option>
        </select>
    </div>

    <div class="form-group">
        <label>Pääraaka-aine</label>
        <input type="text" name="paaraaka_aine" class="form-control" value="{{attributes.paaraaka_aine}}">
    </div>

    <div class="form-group">
        <label>Vaikeustaso</label>
        <select value="{{attributes.vaikeustaso}}" class="form-control" name="vaikeustaso">
            <option value="hyvin helppo">hyvin helppo</option>
            <option value="helppo">helppo</option>
            <option value="keskitasoa">keskitasoa</option>
            <option value="vaativa">vaativa</option>
        </select>
    </div>

    <div class="form-group">
        <label>Valmistusaika</label>
        <input type="text" name="valmistusaika" class="form-control" value="{{attributes.valmistusaika}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}
