{% extends "base.html" %}
{% block content %}
<h1>Kissanhäntähyytelö</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="/tsoha/recipes/1/edit" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Ateriatyyppi:</strong> pääruoka</li>
    <li><strong>Pääraaka-aine:</strong> kissa</li>
    <li><strong>Vaikeustaso:</strong> helppo</li>
    <li><strong>Valmistusaika:</strong> 45min</li>
</ul>
<h4>Ainekset:</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>nimi</th>
            <th>määrä</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>kissan häntä</td>
            <td>300 g</td>
        </tr>
        <tr>
            <td>kananmunan valkuainen</td>
            <td>4 kpl</td>
        </tr>
        <tr>
            <td>valkosipulinkynsi</td>
            <td>3 kpl</td>
        </tr>
        <tr>
            <td>oliiviöljy</td>
            <td>1 dl</td>
        </tr>
        <tr>
            <td>maustamaton tuorejuusto</td>
            <td>100 g</td>
        </tr>
        <tr>
            <td>suola</td>
            <td>1 tl</td>
        </tr>
        <tr>
            <td>sokeri</td>
            <td>1 dl</td>
        </tr>
    </tbody>
</table>
<!-- Kuvaus tulee tähän -->
<br>
<h4>Resepti:</h4>
<p>
    Lisää kuutioitu häntä kiehuvaan veteen ja keitä n. 10 minuuttia. Lisää valkuaiset, sokeri ja oliiviöljy erilliseen kulhoon ja vatkaa vaahdoksi.
    Anna seoksen seistä n. 5 minuuttia, ja lisää lopuksi tuorejuusto 25 gramman erissä samalla sekoittaen.
    Lisää joukkoon häntäkuutiot, hienonnettu valkosipuli ja sokeri. Sekoita, ja anna paistua uunissa 225 asteessa n. 10 minuuttia.
</p>
{% endblock %}
