{% extends "base.html" %}
{% block content %}
<h1>Muokkaa ruokalajin {{recipe.nimi}} tietoja</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value={{recipe.nimi}}>
    </div>
    <div class="form-group">
        <label>Ateriatyyppi</label>
        <input type="text" class="form-control" value={{recipe.ateriatyyppi}}>
    </div>
    <div class="form-group">
        <label>Pääraaka-aine</label>
        <input type="text" class="form-control" value={{recipe.paaraaka_aine}}>
    </div>
    <div class="form-group">
        <label>Vaikeustaso</label>
        <input type="text" class="form-control" value={{recipe.vaikeustaso}}>
    </div>
    <div class="form-group">
        <label>Valmistusaika</label>
        <input type="text" class="form-control" value={{recipe.valmistusaika}}>
    </div>

    <h4>Ainekset</h4>

    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>nimi</th>
                    <th>määrä</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                <tr>
                    <td>{{ingredient.nimi}}</td>
                    <td>{{ingredient.maara}}</td>
                    <td><a class="btn btn-default btn-sm" href="#">Muokkaa</a> <a class="btn btn-danger btn-sm" href="#">Poista</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <label>Resepti</label>
        <textarea class="form-control">{{recipe.resepti}}
        </textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

</form>
{% endblock %}
