{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

<h1>{{recipe.nimi}}</h1>
<!-- Painikkeet tähän -->
<p>
    <a href="/tsoha/recipes/{{recipe.id}}/confirm_deletion" class="btn btn-danger">Poista</a> <a href="/tsoha/recipes/{{recipe.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Ateriatyyppi:</strong> {{recipe.ateriatyyppi}}</li>
    <li><strong>Pääraaka-aine:</strong> {{recipe.paaraaka_aine}}</li>
    <li><strong>Vaikeustaso:</strong> {{recipe.vaikeustaso}}</li>
    <li><strong>Valmistusaika:</strong> {{recipe.valmistusaika}}</li>
</ul>
<h4>Ainekset:</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>nimi</th>
            <th>määrä</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td><a href="/tsoha/ingredients/{{ingredient.raaka_aine}}">{{ingredient.nimi}}</a></td>
            <td>{{ingredient.maara}}</td>
            <td class="col-sm-1"> <a class="btn btn-default btn-sm center-block" href="{{base_path}}/ingredients/{{ingredient.raaka_aine}}/edit">Muokkaa</a></td>
            <td class="col-sm-1"> <form method="post" action="{{base_path}}/ingredients/{{ingredient.raaka_aine}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <a href="/tsoha/recipes/{{recipe.id}}/addingredient" class="btn btn-success">Lisää raaka-aineita</a>
</p>
<br>
<h4>Resepti:</h4>
<p>
    {{recipe.resepti}}
</p>
<p>
    <a href="/tsoha/recipes/{{recipe.id}}/editinstructions" class="btn btn-default">Muokkaa reseptiä</a>
</p>
{% endblock %}
