{% extends "base.html" %}
{% block content %}
<h1>Muokkaa raaka-ainetta</h1>

<form method="post" action="{{base_path}}/ingredients/{{ingredient.id}}/edit">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{ingredient.nimi}}">
    </div>
    <div class="form-group">
        <label>Hinta</label>
        <input type="text" name="hinta" class="form-control" value="{{ingredient.hinta}}">
    </div>

    <div class="form-group">
        <label>Ravitsemustietoja</label>
        <textarea name="ravitsemustiedot" class="form-control">{{ingredient.ravitsemustiedot}}
        </textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

</form>
{% endblock %}
