{% extends "base.html" %}
{% block content %}
<h1>Muokkaa raaka-ainetta {{ingredient.nimi}}</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value={{ingredient.nimi}}>
    </div>
    <div class="form-group">
        <label>Hinta</label>
        <input type="text" class="form-control" value={{ingredient.hinta}}>
    </div>

    <div class="form-group">
        <label>Ravitsemustietoja</label>
        <textarea class="form-control">{{ingredient.ravitsemustiedot}}
        </textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

</form>
{% endblock %}
