{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

<h1>{{ingredient.nimi}}</h1>
<p>
    <a href="/tsoha/recipes/{{recipe}}" class="btn btn-default">Takaisin</a>
    {% if user_logged_in.id == ingredient.kayttaja %}
    <a href="/tsoha/ingredients/{{ingredient.id}}/edit" class="btn btn-default">Muokkaa</a>
    {% endif %}
</p>
<ul>
    <li><strong>Nimi:</strong> {{ingredient.nimi}}</li>
    <li><strong>Hinta:</strong> {{ingredient.hinta}}</li>
</ul>
<h4>Ravitsemustietoja:</h4>
<p>
    {{ingredient.ravitsemustiedot}}
</p>
<form method="post" action="{{base_path}}/shoppinglist/{{ingredient.id}}/add">
    <button type="submit" class="btn btn-success btn-sm">Lisää ostoslistalle</button>
</form>
{% endblock %}